[Unit]
Description=DataVaccinator server autostart
Requires=network.target

[Service]
Type=simple
WorkingDirectory=<PATH>
ExecStart=<PATH>/vaccinator
Restart=always
RestartSec=10
RestartPreventExitStatus=0
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vaccinator
User=root

[Install]
WantedBy=default.target